* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background: #dfe9f5;
}

nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  /* width: 280px; */
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
  background-color: lightblue;
}

.logo {
  text-align: center;
  display: flex;
  align-items: center;
  height: 60px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 12px;
}
a {
  display: flex;
  align-items: center;

  color: rgb(85, 83, 83);
  font-size: 14px;
  width: 100%;
  padding: 10px;
  padding-left: 24px;
}

.nav-items {
  list-style: none;
  margin-top: 20px;
}

.nav-item {
  /* position: relative;
  top: 12px;
  margin-left: 10px; */
  padding-left: 12px;
}
a:hover {
  background: #eee;
}
.logout {
  position: absolute;
  bottom: 0px;
  margin-bottom: 12px;
}

i {
  /* position: relative;
  top: 12px;
  margin-left: 10px; */
}



.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    /* position: absolute; */
    /* top: calc(-100px / 2); */
    /* left: calc(50% - 50px); */
    border: 3px dotted #d2dfe7;
    background: #fff;
  }


  .dashboard-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #dfe9f5;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
  }

  .c-dashboardInfo {
    margin-bottom: 15px;
  }
  .c-dashboardInfo .wrap {
    background: #ffffff;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 40px 25px 20px;
    height: 100%;
  }
  .c-dashboardInfo__title,
  .c-dashboardInfo__subInfo {
    color: #6c6c6c;
    font-size: 1.18em;
  }
  .c-dashboardInfo span {
    display: block;
  }
  .c-dashboardInfo__count {
    font-weight: 600;
    font-size: 2.5em;
    line-height: 64px;
    color: #323c43;
  }
  .c-dashboardInfo .wrap:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
  }
  
  .c-dashboardInfo:nth-child(1) .wrap:after {
    background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
  }
  .c-dashboardInfo:nth-child(2) .wrap:after {
    background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
  }
  .c-dashboardInfo:nth-child(3) .wrap:after {
    background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
  }
  .c-dashboardInfo:nth-child(4) .wrap:after {
    background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
  }
  .c-dashboardInfo__title svg {
    color: #d7d7d7;
    margin-left: 5px;
  }
  .MuiSvgIcon-root-19 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
  }
  