{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
</head>

<body>
    <div class="flex">
        <nav class="sidebar">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/dashboardLogo.jpg' %}" alt="logo">
                    <span class="nav-item">Dashboard</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <i class="fa-solid fa-bars"></i>
                </div>
                <ul class="nav-items">
                    <li><a href="/dashboard">
                            <i class="fa-solid fa-house"></i>
                            <span class="nav-item">Home</span>
                        </a>
                    </li>
                    <br>
                    <li><a href="/candidates">
                            <i class="fa-solid fa-users"></i>
                            <span class="nav-item">Candidates</span>
                        </a>
                    </li>
                    <br>
                    <li><a href="/elections">
                        <i class="fa-solid fa-check-to-slot"></i>
                        <span class="nav-item">Elections</span>
                    </a>
                </li>
                    <br>
                    <li><a href="/result">
                            <i class="fas fa-chart-bar"></i>
                            <span class="nav-item">Result</span>
                        </a>
                    </li>
                    <br><br><br><br><br> <br>


                    <li>
                        <a href="/logout" class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-item">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="flex flex-col h-screen w-full bg-white px-12 py-12">
            <h1 class="capitalize col-span-12 text-left mb-5 text-3xl font-bold">
                Candidates List
              </h1>
              <form class="col-span-12 md:col-span-6">
                <label
                  for="default-search"
                  class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300"
                >
                  Search
                </label>
                <div class="relative">
                  <div
                    class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
                  >
                    <svg
                      aria-hidden="true"
                      class="w-5 h-5 text-gray-500 dark:text-gray-400"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    type="search"
                    id="default-search"
                    class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 max-w-xs"
                    placeholder="Search candidates by name"
                    required
                    v-model.trim="inputSearch"
                  />
                </div>
              </form>
              
              {% if candidates|length == 0 %}
              <h2
                class="col-span-12 text-indigo-600 text-xl font-bold my-12"
              >
                No results found!
              </h2>
              {% else %}
              <div class="col-span-12 grid grid-cols-12 gap-5 mt-12">
                {% for candidate in candidates %}
                <div
                  v-for="(user, index) in searchResult"
                  :key="index"
                  class="col-span-12 md:col-span-6 lg:col-span-4 sm:flex bg-indigo-50 rounded-lg p-5 gap-5 h-full border border-transparent cursor-pointer hover:shadow-lg hover:border-indigo-300"
                >
                  <img
                    src="{% static 'images/logo.jpg' %}"
                    alt="user.firstname"
                    class="rounded-full w-20 h-20 object-cover"
                  />
                  <div class="text-left mt-3 sm:mt-0">
                    <h2 class="text-lg font-semibold">
                      {{ candidate.first_name }} {{ candidate.last_name }}
                    </h2>
                    <span class="block mb-4">{{ candidate.email }}</span>
                    <ul class="flex flex-wrap gap-1 items-center">
                      <li
                        class="rounded-full bg-white px-2 uppercase py-0.5 text-xs text-indigo-500 border border-gray-300"
                      >
                        {{ candidate.user_type }}
                      </li>
                    </ul>
                  </div>
                </div>
                {% endfor %}
              </div>

            {% endif %}

        </div>
    </div>
    </div>

</body>
<script src="https://kit.fontawesome.com/b711823ee1.js" crossorigin="anonymous"></script>

</html></span>