{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <style>
      body {
        margin: 0;
        padding: 0;
        background: url("{% static 'images/background.jpg' %}");
        background-size: cover;
        font-family: arial;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="loginBox">
      <img class="user" src="logo.jpg" />
      <img class="user" src="{% static 'images/logo.jpg' %}" />
      <h2>Register</h2>
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        <div class="form-group">{{ form.first_name }}{{ form.last_name }}</div>
        <div class="form-group">{{ form.email }}</div>
        <div class="form-group">{{ form.password1 }}</div>
        <div class="form-group">{{ form.password2 }}</div>
        <div class="form-group">{{ form.user_type }}</div>

        <input type="submit" value="Register" />

        <!-- error -->
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <div class="newUser">
          <a href="/login">Existing user?</a> &nbsp; &nbsp; &nbsp;
          <a href="#">Forget Password</a>
        </div>
      </form>
    </div>
    <script src="{% static 'js/validation.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/b711823ee1.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
